# SPDX-License-Identifier: GPL-2.0-only
/asn1_compiler
/bin2c
/gen_packed_field_checks
/generate_rust_target
/extract-cert
/insert-sys-cert
/kallsyms
/module.lds
/recordmcount
/sign-file
/sorttable
/unifdef
