sbat,1,SBAT Version,sbat,1,https://github.com/rhboot/shim/blob/main/SBAT.md
ciqlinux,1,CIQ,ciqlinux,%%RPMVERSION%%,mailto:security@ciq.com
ciqlinux.%%PACKAGENAME%%,1,CIQ,%%PACKAGENAME%%,%%RPMVERSION%%,mailto:security@ciq.com
