name: aarch64 CI
on:
  pull_request:
    branches:
      - '**'
      - '!mainline'

jobs:
  kernel-build-job:
    runs-on:
      labels: kernel-build-arm64
    container:
      image: rockylinux/rockylinux:9
      env:
        ROCKY_ENV: rocky9
      ports:
        - 80
      options: --cpus 8
    steps:
      - name: Install tools and Libraries
        run: |
          dnf update -y
          dnf install 'dnf-command(config-manager)' -y
          dnf config-manager --set-enabled devel
          dnf groupinstall 'Development Tools' -y
          dnf install --enablerepo=crb bc dwarves kernel-devel openssl-devel elfutils-libelf-devel -y
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: "${{ github.event.pull_request.head.sha }}"
          fetch-depth: 0
      - name: Build the Kernel
        run: |
          git config --global --add safe.directory /__w/kernel-src-tree/kernel-src-tree
          cp ciq/configs/kernel-aarch64.config .config
          make olddefconfig
          make -j$(nproc)
