name: x86_64 CI
on:
  pull_request:
    branches:
      - '**'
      - '!mainline'

jobs:
  kernel-build-job:
    runs-on:
      labels: kernel-build
    container:
      image: centos:7
      options: --cpus 8
    steps:
      - name: Point yum to vault
        run: |
          sed -e '/mirrorlist=.*/d' \
              -e 's/#baseurl=/baseurl=/' \
              -e "s/\$releasever/7.9.2009/g" \
              -e "s/mirror.centos.org/dl.rockylinux.org\/vault/g" \
              -i /etc/yum.repos.d/CentOS-Base.repo

      - name: Install tools and Libraries (in chroot)
        run: |
          yum groupinstall 'Development Tools' -y
          yum install bc dwarves git glibc-devel hostname kernel-devel mpfr openssl openssl-devel elfutils-libelf-devel -y

      - name: Checkout code
        run: |
          git clone --branch ${{ github.head_ref }} "https://oauth2:$GITHUB_TOKEN@github.com/ctrliq/kernel-src-tree"

      - name: Build the Kernel
        working-directory: kernel-src-tree
        run: |
          cp configs/kernel-3.10.0-x86_64.config .config
          make olddefconfig
          make -j$(nproc)

      - name: Check kabi
        working-directory: kernel-src-tree
        run: |
          git clone --branch imports/c7/kernel-3.10.0-1160.119.1.el7 --depth 1 https://git.centos.org/rpms/kernel.git kernel-dist-git
          ./kernel-dist-git/SOURCES/check-kabi -k ./kernel-dist-git/SOURCES/Module.kabi_x86_64 -s Module.symvers
