name: aarch64 CI
on:
  pull_request:
    branches:
      - '**'
      - '!mainline'

jobs:
  kernel-build-job:
    runs-on:
      labels: kernel-build-arm64
    container:
      image: rockylinux:8
      env:
        ROCKY_ENV: rocky8
      ports:
        - 80
      options: --cpus 8
    steps:
      - name: Install tools and Libraries
        run: |
          dnf groupinstall 'Development Tools' -y
          dnf install --enablerepo=devel bc dwarves kernel-devel openssl-devel elfutils-libelf-devel -y
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: "${{ github.event.pull_request.head.sha }}"
          fetch-depth: 0
      - name: Build the Kernel
        run: |
          git config --global --add safe.directory /__w/kernel-src-tree/kernel-src-tree
          cp configs/kernel-4.18.0-aarch64.config .config
          make olddefconfig
          make -j8
