name: Automated kernel build and test (x86_64)

on:
  push:
    branches:
      - '*_ciqlts9_2'

jobs:
  build:
    uses: ctrliq/kernel-src-tree/.github/workflows/kernel-build-and-test-x86_64.yml@%7Bshreeya%7D_ciqlts9_2
    secrets: inherit
