name: Automated kernel build and test x86_64 and aarch64

on:
  push:
    branches:
      - '*_ciqlts9_6'

jobs:
  build:
    uses: ctrliq/kernel-src-tree/.github/workflows/kernel-build-and-test-multiarch.yml@main
    secrets: inherit
