name: Automated kernel build and test (x86_64)

on:
  push:
    branches:
      - '*_ciqlts9_2'

jobs:
  call-workflow:
    uses: ctrliq/kernel-src-tree/.github/workflows/kernel-build-and-test-x86_64.yml@{shreeya}_ciqlts9_2
    secrets: inherit
