name: Automated kernel build and test x86_64 & aarch64

on:
  push:
    branches:
      - '*_ciqlts9_2'

jobs:
  kernelCI:
    uses: ctrliq/kernel-src-tree/.github/workflows/kernel-build-and-test-multiarch.yml@shreeya_kernelci_multiarch
    secrets: inherit
