name: Validate Kernel Commits

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    uses: ctrliq/kernel-src-tree/.github/workflows/validate-kernel-commits.yml@main
    secrets: inherit
