name: Validate Kernel Commits

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  check:
    uses: ctrliq/kernel-src-tree/.github/workflows/validate-kernel-commits.yml@{jmaple}_main
    secrets: inherit
